.detailPage{
    text-align: center;
}

.detailPokeName{
    font-size: 3rem;
    color: #FFCB05;
    -webkit-text-stroke: 2px #2C72B8;
}

.detailH3{
    color: #FFCB05;
}

.detailTypeArticle{
    display: flex;
    justify-content: center;
    gap: 2rem;
}