* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  padding: 10px 20px 20px 20px;
}

.header {
  margin-bottom: 20px;
}

.types-grid {
  height: 100vh;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 20px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: rgb(255, 252, 240);
  border-radius: 5px;
  border: 1px solid rgb(128, 58, 0);
}

.pokemon-card article {
  display: flex;
  justify-content: space-between;
}